@use './../../../styles.scss' as *;

:host {
    background: url('/img/01_Background/Img Original Size/Skills BG.png') no-repeat bottom/cover;
    display: block;
    height: 350px;
}

section {
    height: 100%;
    display: flex;
    align-items: center;
    @include container-section();
}