@use './../../../styles.scss' as *;

.hero {
    background-image: url('/img/01_Background/Design Size Relation@3x/01_Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {  
    position: relative;
    width: 100%;
    height: 100%;
    @include container();
    display: flex;
    justify-content: center;
    align-items: center;

    >div:first-of-type {
        position: relative;
        width: 880px;
    }
}

h1 {
    font-size: 140px;

    p:nth-of-type(2) {
        text-align: right;
    }
}

.polaroid {
    img{ 
        transform: rotate(10deg);
    }

    img:nth-of-type(1) {
        position: absolute;
        top: -100px;
        right: 40px;
        z-index: 10;
        width: 190px;
        height: 250px;
    }

    img:nth-of-type(2){
        width: 170px;
        filter: grayscale(1);
        position: absolute;
        right: 50px;
        top: -90px;
        transition: all 300ms ease;
    }

    &:hover img:nth-of-type(2){
        filter: grayscale(0);
    }

    &::before {
        content: "Demis :)";
        position: absolute;
        right: 105px;
        top: 105px;
        font-family: 'Kalam';
        font-size: 24px;
        font-weight: 600;
        color: black;
        transform: rotate(10deg);
        z-index: 15;
        transition: all 300ms ease;
    }

    &:hover::before {
        content: "Demis :D";
        transform: scale(1.05) rotate(10deg);
    }
}

.hello-world {
    @include btnStyle();
    position: absolute;
    left: 0;
    top: -80px;
    cursor: default;
    width: 140px;
    transition: all 400ms ease;
    white-space: nowrap;

    &:hover {
        width: 200px;
    }

    &::before {
        content: "";
        clip-path: circle(0% at center 90%);
        transition: all 400ms ease;
        background-color: #3355FF;
        border-radius: 32px;
        position: absolute;
        padding: 9px 0 0 22px;
        inset: 0;
        opacity: 0;
    }

    &:hover:before {
        content: "I'M DEMIS MOYSIDIS";
        clip-path: circle(100% at center 90%);;
        opacity: 1;
    }

    &::after {
        content: url('/icons/waving_hand.svg');
        position: absolute;
        top: -45px;
        left: 90px;
        transition: all 400ms ease;
        transform: rotate(180deg);
        opacity: 0;
    }

    &:hover::after {
        left: 160px;
        transform: rotate(360deg);
        opacity: 1;
    }
}

button {
    position: absolute;
    bottom: -60px;
    right: 0;
    @include btnStyle();
    @include btnShadow();
    transition: all 125ms ease;
    
    &:hover {
        background-color: #F87A55;
        bottom: -64px;
        right: -2px;
        @include btnShadow($x: 0, $y: 0);
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    bottom: 120px;
    left: 40px;

    div {
        width: 50px;
        height: 50px;
        border: 2px solid $font-color-white;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background-color: #3355FF;
            position: absolute;
            inset: 0;
            clip-path: circle(0% at center 90%);
            transition: all 500ms ease;
            opacity: 0;
        }

        &:hover::before{
            clip-path: circle(100% at center 90%);
            opacity: 1;
        }
    }

    img {
        width: 40px;
        position: absolute;
    }
}

@mixin letter-switch($letter-start, $letter-end){
    &::before {
        content: $letter-start;
        display: inline-block;
        transform: translateX(-2px);
        transition: all 300ms ease;
    }

    &:hover::before {
        content: '';
        transform: translateX(0px);
    }

    &::after {
        content: '';
        display: inline-block;
        transform: translateX(-2px);
        transition: transform 300ms ease;
    }

    &:hover::after {
        content: $letter-end;
        color: #F7C518;
        transform: translateX(0px);
    }
}

.letter-assignment-frontend {
    span:nth-of-type(1){
        @include letter-switch('F', 'f');
    }

    span:nth-of-type(2){
        @include letter-switch('r', 'R');
    }

    span:nth-of-type(3){
        @include letter-switch('o', 'O');
    }

    span:nth-of-type(4){
        @include letter-switch('n', 'N');
    }

    span:nth-of-type(5){
        @include letter-switch('t', 'T');
    }

    span:nth-of-type(6){
        @include letter-switch('e', 'E');
    }

    span:nth-of-type(7){
        @include letter-switch('n', 'N');
    }

    span:nth-of-type(8){
        @include letter-switch('d', 'D');
    }
}

.letter-assignment-developer {
    span:nth-of-type(1){
        @include letter-switch('D', 'd');
    }

    span:nth-of-type(2){
        @include letter-switch('E', 'e');
    }

    span:nth-of-type(3){
        @include letter-switch('V', 'v');
    }

    span:nth-of-type(4){
        @include letter-switch('E', 'e');
    }

    span:nth-of-type(5){
        @include letter-switch('L', 'l');
    }

    span:nth-of-type(6){
        @include letter-switch('O', 'o');
    }

    span:nth-of-type(7){
        @include letter-switch('P', 'p');
    }

    span:nth-of-type(8){
        @include letter-switch('E', 'e');
    }

    span:nth-of-type(9){
        @include letter-switch('R', 'r');
    }
}