@use './../../../styles.scss' as *;

@keyframes underline {
    0% { clip-path: inset(0 100% 0 0)}
    10% { clip-path: inset(0 0 0 0)}
    20% { clip-path: inset(0 0 0 0)}
    30% { clip-path: inset(0 0 0 0)}
    40% { clip-path: inset(0 0 0 0)}
    50% { clip-path: inset(0 0 0 0)}
    60% { clip-path: inset(0 0 0 0)}
    70% { clip-path: inset(0 0 0 0)}
    80% { clip-path: inset(0 0 0 0)}
    90% { clip-path: inset(0 100%  0 0)}
    100% { clip-path: inset(0 100% 0 0)}
}

@mixin about-me-card-content($icon-url, $attr-name, $top, $height, $rotate, $z-index){ 
    height: $height;
    transform: $rotate;
    z-index: $z-index;
    position: relative;

    &::before {
        content: attr($attr-name);
        position: absolute;
        top: $top;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 36px;
        width: max-content;
        display: flex;
        align-items: center;
        color: $font-color-white;
        font-size: 20px;
        background: url($icon-url) no-repeat left/contain;
        padding-left: 50px;
    }
}

section {
    background-color: white;
    display: flex;
    gap: 70px;
    padding-top: 120px;
    padding-bottom: 120px;
    @include container-section();

    * {
        color: #0E1013;
    }

    h2 {
        position: relative;

        &::before {
            content: "";
            background-image: url('/img/00_Hand-drawn lines/01_About me/Color option 1.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 30px;
            position: absolute;
            top: 70px;
            left: 0;
            animation: underline 6s infinite;
        }
    }

    >div:nth-of-type(1){
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        >div {
            img{
                width: 100%;
                height: 100%;
            }
        };

        >div:nth-of-type(1) {
            @include about-me-card-content($icon-url: '/icons/location.svg', $attr-name: based-in, $top: 40%, $height: 180px, $rotate: rotate(-3deg), $z-index: 10);
        }

        >div:nth-of-type(2) {
            @include about-me-card-content($icon-url: '/icons/relocation.svg', $attr-name: relocate, $top: 45%, $height: 150px, $rotate: rotate(0deg), $z-index: 5);
        }

        >div:nth-of-type(3) {
            @include about-me-card-content($icon-url: '/icons/remote.svg', $attr-name: remote, $top: 45%, $height: 180px, $rotate: rotate(3deg), $z-index: auto);
        }
        
        >div:not(:first-of-type) {
            margin-top: -55px;
        }
    }

    >div:nth-of-type(2){
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 32px;

        button {
            @include btnStyle($border: 2px solid #0E1013);
            @include btnShadow($color: #0E1013);
            align-self: flex-end;
            transition: all 125ms ease;

            &:hover {
                background-color: #F87A55;
                transform: translateX(3px) translateY(3px);
                @include btnShadow($x: 0, $y: 0);
            }
        }

        >p {
            font-size: 20px;
            white-space: pre-line;
        }

        >div{
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-weight: 500;
                font-size: 18px; 
            }
        }
    }
}