@use './../../../styles.scss' as *;

* {
    color: #0E1013;
}

section {
    @include container-section();
    padding-top: 50px;
    padding-bottom: 260px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h3 {
    color: #3355FF;
}

p {
    white-space: pre-line;
    font-size: 20px;
}

@media (max-width: 1200px) {
    section {
        @include container-section-mobile();
    }

    p {
        font-size: 18px !important;
    }

    h3 {
        font-size: 20px;
    }
}