$font-color-white: #F8F9FA;

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('./../public/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf');
}

@font-face {
    font-family: 'Kalam';
    src: url('./../public/fonts/Kalam/Kalam-Regular.ttf');
}

@font-face {
    font-family: 'Monoton';
    src: url('./../public/fonts/Monoton/Monoton-Regular.ttf');
}

body {
    font-family: 'Bricolage Grotesque';
}

* {
    margin: 0;
    box-sizing: border-box;
    color: $font-color-white;
}

@mixin btnStyle(
    $border: 2px solid $font-color-white, 
    )
{
    padding: 8px 24px;
    border: $border;
    border-radius: 32px;
    background: none;
    font-size: 16px;
    font-family: 'Bricolage Grotesque';
    cursor: pointer;
}

@mixin btnShadow($x: 2px, $y: 4px){
    box-shadow: $x $y 0px 0px $font-color-white;
}

@mixin container(){
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
};